<tr>
  <td><a href="{{ '/offer/' ~ job_id }}">{{ title_job }}</a></td>
  <td>{{ full_name }}</td>
  <td>{{ email }}</td>
  <td>{{ phone }}</td>
  <td>{{ experiences }}</td>
  <td>{{ resume }}</td>
  <td><a href="{{ file_url(cv) }} " target="_blank">Show </a></td>
</tr>

